# Python cache
__pycache__/
*.pyc

# Virtual Environments
venv/
.env

# Local config (paths, secrets)
config.yaml

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# All scraped data
*.json
*.jsonl
*.csv

# Allow json on /web subfolders
!/web/**/*.json
!/web/**/*.csv
!/data/scores/*.json

# No models
models/*
!models/**/.gitkeep

# Products from .toml
*.egg-info/
.eggs/
build/
dist/
